<!DOCTYPE html>
<html>
<head>
	<title>Video Editing Site</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='EDIT.css') }}">
</head>
<body>
	<div class="grid">
		<div class="grid-item">
			<div class="folder">
				<i class="fas fa-folder"></i>
				<p>Pictures</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="folder">
				<i class="fas fa-folder"></i>
				<p>Public</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="folder">
				<i class="fas fa-folder"></i>
				<p>Templates</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="folder">
				<i class="fas fa-folder"></i>
				<p>Videos</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="image">
				<img src="image1.jpg" alt="Image 1">
			</div>
		</div>
		<div class="grid-item">
			<div class="image">
				<img src="image2.jpg" alt="Image 2">
			</div>
		</div>
		<div class="grid-item">
			<div class="audio">
				<i class="fas fa-file-audio"></i>
				<p>Audio 1</p>
			</div>
		</div>
		<div class="grid-item">
			<div class="audio">
				<i class="fas fa-file-audio"></i>
				<p>Audio 2</p>
			</div>
		</div>
	</div>
</body>
</html>